<div app-controller="Demo">
    <script type="application/json">{"model":{"Date":"","Message":""}}</script>
    <h3>Demo</h3>
    <label>Date:</label><input type="text" placeholder="DD.MM.YYYY" app-datepicker="format: 'DD/MM/YYYY', displayFormat: 'DD.MM.YYYY'" data-bind="value: Date" /><br />
    <p data-bind="text: Message"></p>
    <button type="button" app-button="primary" data-bind="click: CheckDate">Check Date</button>
    <button type="button" app-button="primary" data-bind="click: SetDate">Set Today's Date</button>
</div>