#simplemodal-overlay 
{
    background-color: #000; 
    height: 100%;
    width: 100%;
    cursor: wait;
}

#simplemodal-container 
{
    height: 400px;
    width: 600px;
    color: #000;
    background-color: #fff; 
    border: 1px solid #222;
    border-top: 0px;   
    padding: 17px 10px 10px 10px;
}

#simplemodal-container a.modalCloseImg 
{
    background-image: url('/Content/themes/base/images/ui-icons_888888_256x240.png');
	background-repeat: no-repeat;
	background-position: -96px -129px;
    background-color: #222;
	height: 16px;
	width: 16px;
	display: inline;
	z-index: 3200;
	position: absolute;
	right: -1px;
	cursor: pointer;
}

#simplemodal-container .simplemodal-header 
{
    background: #222;
    height: 16px;
    width: 100%;
    z-index: 999996;
    position: absolute;
    top: 0px;
    left: 0px;
}

#simplemodal-container .loader 
{
    z-index: 999995;
}